version: "3.8"

services:

  postgres:
    image: postgres
    restart: always
    ports:
        - '5432:5432'
    volumes:
        - './pgdata:/var/lib/postgresql/data'
    environment:
        - POSTGRES_USER=mageai
        - POSTGRES_PASSWORD=${ADMIN_PASSWORD}
        - POSTGRES_DB=mageai
        - PG_DATA=/var/lib/postgresql/data/pgdata

  mage:
    image: mageai/mageai:latest
    restart: always
    environment:
      # - MAGE_DATABASE_CONNECTION_URL=postgresql+psycopg2://mageai:${ADMIN_PASSWORD}@postgres_db:5432/mageai
      - REQUIRE_USER_AUTHENTICATION=1
    volumes:
      - './data:/home/src'
      - './mage_data:/root/.mage_data'
    ports:
      - 172.17.0.1:6789:6789